@tailwind base;
@tailwind components;
@tailwind utilities;

.heroImg {
  background-image: url('../assests/banner\(1\).jpeg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: fixed;
  margin: auto;
}
