.loginstyle {
  background: url('../assests/robot.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.parent {
  background: url('../assests/HD-wallpaper-dark-blur-abstract-blur-abstract-deviantart.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
